@import 'image-text';
@import 'fonts';

section.shop-info {
    width: 60%;
    margin: 0 auto;
    position: relative;
    h1 {
        font-size: 4em;
        color: rgb(130,130,255);
        margin: 0;
        display: inline;
    }

    p{
        display: inline;
        font-size: 1.25em;
    }
    h2 {
        font-size: 3em;
        font-family: 'Montserrat', sans-serif; 
        text-align: center;
        margin: 0;
    }
}

h2.item-header {
    font-size: 4.5em;
    margin: 1%  0 0 3%;
    font-family: $decorative-font;
    width: 30%;
    
}

//we need to move these styles to a file specifically for the "all" view

.items {
    width: 80%;
    margin: 0 auto;
    ul {
        margin-top: 0;
    }
}

.item {
    margin-top: 40px;
    margin-right: 10%;
    width: 17%;
    display: inline-block;
    h3 {
        margin-bottom: 0;
    }
}

.item:nth-child(4) {
    margin-right: 0;
}

.item:last-child {
    margin-right: 0;
}

.item-info {
    text-align: center;
    h4 {
        margin-bottom: 0;   
    }
    p {
        margin-top: 0;
    }
}

// .divider {
//     width: 100%;
//     height: 50px;
//     background-color: blue;
// }
