@import 'image-text';

section.shop-info {
    width: 60%;
    margin: 0 auto;
    position: relative;
    // top: -360px;
    h1 {
        font-size: 4em;
        color: rgb(130,130,255);
        margin: 0;
        display: inline;
    }

    p{
        display: inline;
        font-size: 1.25em;
    }
    h2 {
        font-size: 3em;
        font-family: 'Montserrat', sans-serif; 
        text-align: center;
        margin: 0;
    }
}

h2.item-header {
    font-size: 4em;
    margin: 1.5%  0 3% 3%;
    text-decoration: underline;
}

// img.under-header {
//     z-index: -1;
//     position: relative;
//     top: -110px;
//     display: block;
// }

//we need to move these styles to a file specifically for the "all" view

.items {
    width: 80%;
    margin: 20px auto;
}

.item {
    margin-right: 10%;
    width: 17%;
    display: inline-block;
}

.item:nth-child(4) {
    margin-right: 0;
}

.item:last-child {
    margin-right: 0;
}

.item-info {
    text-align: center;
    h4 {
        margin-bottom: 0;   
    }
    p {
        margin-top: 0;
    }
}
