<h2 class="admin-centered-header">Articles</h2>

<ul>
    <li ng-repeat="article in $ctrl.articles">
        <form ng-submit="$ctrl.update(article)">
            <label>title: </label>
            <input type="text" ng-model="article.title" required>

            <label>image url: </label>
            <input type="text" ng-model="article.imgUrl">
            <img class="thumbnail" ng-if="article.imgUrl !== ''" ng-src="{{article.imgUrl}}">
            <p ng-if="article.imgUrl === ''">No image proved</p>

            <label>link: </label>
            <input type="text" ng-model="article.link">

            <h4>Text: </h4>
            <textarea ng-model="article.text" cols="80" rows="10"></textarea>
            <div>
                <button type="submit">update</button>
            </div>
        </form>
        <hr>
    </li>
</ul>