<div ng-class="$ctrl.styles.item" class="clearfix">
    <div class="description">
        <h2 class="item-name">{{$ctrl.item.name}}</h2>
        <p class="item-description">{{$ctrl.item.description}} <a ui-sref="shop.all">&larr;Back to all juices</a></p>    
    </div>
    <div class="item-img">
        <img src="{{$ctrl.item.imgUrl}}">
    <p>{{$ctrl.item.price}}.00</p>
    <select ng-model="$ctrl.item.quantity">
        <option ng-repeat="number in $ctrl.selectArray" ng-value="number">{{number}}</option>
    </select>
    <button ng-click="$ctrl.addToCart($ctrl.item)">Add to Cart</button>
    </div>

    <div ng-class="$ctrl.styles.ingredients" class="clearfix">
        <h3>Ingredients</h3>
        <div class="list" ng-style="$ctrl.listHeight">
            <ul>
                <li ng-repeat="ingredient in $ctrl.item.ingredients">
                    <img class="ingredient" src="{{ingredient.imgUrl}}">
                    <p><span>{{ingredient.name}}. </span>{{ingredient.description}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
