@import 'colors';
@import 'fonts';

:local(.item) {
    margin-bottom: 5%;
    width: 95%;
    margin: 0 auto;

    .item-name {
        font-size: 3em;
        text-align: center;
        font-family: $decorative-font;
        margin: 0 0 3% 0;
    }

    .item-description {
        font-family: $main-font;
        font-size: 1.1em;
        width: 50%;
        float: right;
        text-indent: 20px;
        margin-top: 0;
        margin-right: 2%;
        a {
            color: blue;
            display: block;
        }
    }

    .item-img {
        width: 40%;
        margin: -2% auto 0 auto;
    }
}


:local(.ingredients) {
    h3 {
        font-size: 3em;
        font-family: $decorative-font;
        text-align: center;
        margin: 0;
    }

    li {
        float: left;
        width: 49%;
        margin-bottom: 5%;
    }

    img {
        width: 70%;
        margin: 0 auto;
    }
    p {
        width: 70%;
        margin: 0 auto;
        font-family: $main-font;
    }

    span {
        font-family: $decorative-font;
        font-size: 2em;
        font-weight: bold;
    }
}


@media all and (min-width: 450px) and (max-width: 619px) {
    :local(.item) {
        .item-name{
            font-size: 4em;
        }
        .item-description {
            font-size: 1.5em;
        }  
        .item-img {
            width: 32%;
        }    
    }

    :local(.ingredients) {
        h3 {
            font-size: 4em;
        }
        p {
            font-size: 1.3em;
        }
    }
}


@media all and (min-width: 620px) and (max-width: 749px) {
    :local(.item) {
        .item-name{
            font-size: 5em;
        }
        .item-description {
            font-size: 2em;
        }  
        .item-img {
            width: 32%;
        }    
    }

    :local(.ingredients) {
        h3 {
            font-size: 5em;
        }
        p {
            font-size: 1.5em;
        }
    }
}


// @media all and (min-width: 750px) {
//     :local(.item) {
//         width: 95%;
//         .discription {
//             float: left;
//         }
//         .item-name {
//             font-size: 4.5em;
//             float: left;
//             width: 45%;
//             text-align: left;
//         }
//         .item-description {
//             width: 55%;
//             font-size: 1.3em;
//             margin: 2% 0 0 0;
//         }
//     }

//     :local(.ingredients) {
//         width: 10%;
//         float: right;
//         h3 {
//             font-size: 3em;
//         }
//         p {
//             font-size: .5em;
//         }
//     }
// }

