.header-container {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // height: 125px;
        div {
            position: absolute;
            z-index: 1;
            width: 100%;
        }
        .left {
            float: left;
            margin-top: -5px;
        }
        .right {
            margin-top: 20px;
            float: right;
            text-align: right;
            span {
                margin-right: 20px;
            }
        }
        h1 {
            text-align: left;
            margin: 0 20px;
            font-family: 'Amatic SC', cursive;
            font-size: 6em;
            color: white;
        }

        .icon-facebook2:before {
            content: "\ea91";
            color: white;
            font-size: 1.9em;
            //used to be 30px
        }

        .icon-instagram:before {
            content: "\ea92";
            color: white;
            font-size: 1.9em;
        }

        .icon-twitter:before {
            content: "\ea96";
            color: white;
            font-size: 1.9em;
        }
}


@media all and (max-width: 550px) {
    .header-container {
        .left {
            float: none;
            margin-top: -5px;
            width: 100%;
            z-index: 1003;
            h1 {
                float: left;
            }
            nav-bar {
                float: right;
            }
        }
        .right {
            margin-top: 12px;
            span {
                margin-right: 10px;
            }
        }
        h1 {
            margin: 0 1%;
            font-size: 3.5em;
        }
        .icon-facebook2:before, .icon-twitter:before, .icon-instagram:before {
            font-size: 1.2em;
            display: none;
        }
    }
}

@media all and (min-width: 551px) and (max-width: 700px) {
    .header-container {
        .left {
            max-width: 250px;
            h1 {
                font-size: 4em;
            }
        }

        .right {
            margin-top: 15px;
            .icon-facebook2:before, .icon-instagram:before, .icon-twitter:before {
                font-size: 1.5em;
            }
            span {
                margin-right: 15px;
            }
        }
    }
}

@media all and (min-width: 701px) and (max-width: 1083px) {
    .header-container {
        .left {
            width: 350px;
        }
    }
}

@media all and (min-width: 1083px) {
    .header-container {
        .left {
            width: 500px;
            h1 {
                font-size: 7em;
            }
        }
        .right {
            .icon-facebook2:before, .icon-twitter:before, .icon-instagram:before {
                font-size: 2.2em;
            }
        }
    }
}