<h2 class="admin-centered-header">Checkout</h2>

<form ng-submit="$ctrl.update()">
    <div>
        <h4>info text: </h4>
        <textarea cols="80" rows="10" ng-model="$ctrl.checkoutContent.text"></textarea>
    </div>

    <div>
        <h4>pickup text: </h4>
        <textarea cols="80" rows="10" ng-model="$ctrl.checkoutContent.pickupText"></textarea>      
    </div>
    <div>
        <h4>delivery text: </h4>
        <textarea cols="80" rows="10" ng-model="$ctrl.checkoutContent.deliveryText"></textarea>       
    </div>
    <div>
        <h4>Checkout Variables: </h4>
        <label>min purchase: $</label>
        <input type="text" ng-model="$ctrl.checkoutContent.minPurchase">
    </div>
    <div>
        <label>pickup clickable</label>
        <select ng-model="$ctrl.checkoutContent.pickup">
            <option ng-value="true">true</option>
            <option ng-value="false">false</option>
        </select>     
    </div>
    <div>
        <label>delivery clickable</label>
        <select ng-model="$ctrl.checkoutContent.delivery">
            <option ng-value="true">true</option>
            <option ng-value="false">false</option>
        </select>      
    </div>
    <button type="submit">update</button>
</form>