<h2>About</h2>

<ul>
    <li ng-repeat="article in $ctrl.aboutArticles">
        <div class="cms-title">
            <label>Title: </label>
            <input class="article-title" type="text" ng-model="article.title">
            <label>visible</label>
            <select ng-model="article.visible">
                <option ng-value="true">true</option>
                <option ng-value="false">false</option>
            </select>
            <label>position</label>
            <select ng-model="article.position">
                <option ng-repeat="position in $ctrl.positions" ng-value="position">{{position}}</option>
            </select>
        </div>

        <div class="cms-img">
            <label>Image: </label>
            <input type="text" ng-model="article.imgUrl">
            <img class="thumbnail" ng-if="article.imgUrl !== '#'" src="{{article.imgUrl}}">
            <p ng-if="article.imgUrl === '#'">No image provided</p>
        </div>

        <div class="cms-text">
            <label>Text: </label>
            <textarea cols="130" rows="20" ng-model="article.text"></textarea>      
        </div>

        <button ng-click="$ctrl.updateArticle(article)">Update</button>
        <button ng-click="$ctrl.deleteArticle(article)">Delete</button>
        <hr>
    </li>
</ul>

<div class="add-article">
    <h2>New Article</h2>
    <form ng-submit="$ctrl.addArticle()">
        <label>Title: </label>
        <input type="text" ng-model="$ctrl.newArticle.title">
        <label>Image: </label>
        <input type="text" ng-model="$ctrl.newArticle.imgUrl">
        <label>Text: </label>
        <textarea cols="130" rows="20" ng-model="$ctrl.newArticle.text"></textarea>
        <button type="submit">Add article</button>
    </form>
</div>