<h2 class="admin-centered-header">Contact</h2>

<form ng-submit="$ctrl.update()">
    <h4>info text: </h4>
    <textarea cols="100" rows="10" ng-model="$ctrl.contactInfo.text"></textarea>

    <div>
        <h3>Contact</h3>
        <label>phone: </label>
        <input type="text" ng-model="$ctrl.contactInfo.phone">

        <label>email: </label>
        <input type="text" ng-model="$ctrl.contactInfo.email">
    </div>

    <div>
        <h3>Socials</h3>
        <label>facebook: </label>
        <input type="text" ng-model="$ctrl.contactInfo.facebook">

        <label>instagram: </label>
        <input type="text" ng-model="$ctrl.contactInfo.instagram">

        <label>twitter: </label>
        <input type="text" ng-model="$ctrl.contactInfo.twitter">
    </div>

    <div>
        <button type="submit">update</button>
    </div>
</form>
