@import 'colors';

.admin-header {
    height: 170px;
    background-color: $black;
}

.admin-body {
    min-height: 85vh;
    width: 90%;
    margin: 0 auto 100px auto;
    a {
        color: blue;
    }
    a:hover {
        text-decoration: underline;
    }
    li {
        margin-bottom: 20px
    }
    hr {
        margin: 45px auto;
        border: none;
        width: 85%;
        height: 1px;
        background-color: $lightgrey;
    }
    button {
        font-size: 1em;
        margin: 5px;
        border-radius: 10%;
        background-color: $lightgrey;
        border: none;
    }
    button:hover {
        cursor: pointer;
    }
    .delete-button {
        background-color: red;
        color: white;
    }
    h4 {
        span {
            font-weight: 500;
        }
    }
    input {
        margin-right: 15px;
        resize: horizontal;
    }

    input:active {
        width: auto;
    }

    input:focus {
        min-width: 200px;
    }


}

input.article-title {
    display: block;
}

.thumbnail {
    max-width: 100px;
    margin: 20px 50px;
}

.admin-nav {
    text-align: center;
    margin: 0;
    li {
        display: inline-block;
        width: 15%;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 0;
    }
}

.admin-sub-nav {
    li {
        display: inline-block;
        margin-right: 35px;
        font-size: 1.2em;
        margin-bottom: 0;
    }
}

.admin-sub-header {
    float: left;
    margin: 0 35px 0 0;
    font-size: 2.35em;
}

.admin-centered-header {
    text-align: center;
    font-size: 2.7em;
}

.admin-container {
    margin-top: 15px;
    border: 1px solid $lightgrey;
    padding: 15px 0 15px 20px;
}


:local(.active) {
    text-decoration: underline;
}

:local(.inactive) {
    text-decoration: none;
}



