<div class="admin-header">

</div>

<div class="admin-body">
    <div class="login" ng-if="!$ctrl.token">
        <h2>Login</h2>
        <form ng-submit="$ctrl.signin()">
            <label for="username">username</label>
            <input type="text" ng-model="$ctrl.credentials.username">
            <label for="password">password</label>
            <input type="text" ng-model="$ctrl.credentials.password">
            <button type="submit">Submit</button>
        </form>
    </div>

    <ul class="admin-nav" ng-if="$ctrl.token">
        <li>
            <a ui-sref="admin.orders">orders</a>
        </li>
        <li>
            <a ui-sref="admin.content">content</a>
        </li>
        <li>
            <a ng-click="$ctrl.logOut()">logout</a>
        </li>
    </ul>

    <ui-view name="main" token="$ctrl.token"></ui-view>
</div>

