<div class="clearfix">
    <h2 class="admin-sub-header">Shop</h2>
    <ul class="admin-sub-nav">
        <li><a ng-class="{selected: $ctrl.show == 'content'}" ng-click="$ctrl.show = 'content'">content</a></li>
        <li><a ng-class="{selected: $ctrl.show == 'juices'}" ng-click="$ctrl.show = 'juices'">juices</a></li>
        <li><a ng-class="{selected: $ctrl.show == 'ingredients'}" ng-click="$ctrl.show = 'ingredients'">ingredients</a></li>
    </ul>
</div>

<div ng-if="$ctrl.show === 'content'">
    <h3 class="admin-centered-header">Shop Content</h3>
    <form ng-submit="$ctrl.updateContent()">
        <label>header image: </label>
        <input type="text" ng-model="$ctrl.shopContent.imgUrl">
        <label>button text: </label>
        <input type="text" ng-model="$ctrl.shopContent.buttonText">
        <div>
            <button type="submit">update</button>
        </div>
    </form>
</div>
<div ng-if="$ctrl.show === 'juices'">
    <h3 class="admin-centered-header">Juices</h3>
    <ul>
        <li ng-repeat="juice in $ctrl.juices">
            <form ng-submit="$ctrl.updateJuice(juice)">
                <label>name: </label>
                <input type="text" ng-model="juice.name">
                <label>image: </label>
                <input type="text" ng-model="juice.imgUrl">
                <img class="thumbnail" ng-src="{{juice.imgUrl}}">
                <label >price: $</label>
                <input type="text" ng-model="juice.price">
                <h4>description: </h4>
                <textarea cols="80" rows="8" ng-model="juice.description"></textarea>
                <div>
                    <button type="submit">update</button>
                    <button class="delete-button" ng-click="$ctrl.deleteJuice(juice)">Delete Juice</button>
                </div>
            </form>
            <h3>ingredients</h3>
            <ul ng-class="$ctrl.styles.list">
                <li ng-repeat="ingredient in juice.ingredients">
                    {{ingredient.name}}
                    <button class="delete-button" ng-click="$ctrl.removeIngredient(juice, ingredient)">remove</button>
                </li>
            </ul>
            <select ng-model="ingredientToAdd" ng-options="ingredient as ingredient.name for ingredient in $ctrl.ingredients">
            </select>
            <button ng-click="$ctrl.addIngredient(juice, ingredientToAdd)">Add ingredient</button>
            <hr>
        </li>
    </ul>

    <h3 class="admin-centered-header">Add new juice</h3>

    <form ng-submit="$ctrl.createJuice()">
        <div>
            <label>name: </label>
            <input type="text" ng-model="$ctrl.newJuice.name">
            <label>image url: </label>
            <input type="text" ng-model="$ctrl.newJuice.imgUrl">
            <img class="thumbnail" ng-src="{{$ctrl.newJuice.imgUrl}}">
        </div>
        <label>price: </label>
        <input type="text" ng-model="$ctrl.newJuice.price">
        <h4>description: </h4>
        <textarea cols="80" rows="5" ng-model="$ctrl.newJuice.description"></textarea>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</div>

<div ng-if="$ctrl.show === 'ingredients'">
    <h3 class="admin-centered-header">Ingredients</h3>
    <ul>
        <li ng-repeat="ingredient in $ctrl.ingredients">
            <form ng-submit="$ctrl.updateIngredient(ingredient)">
                <label>name: </label>
                <input type="text" ng-model="ingredient.name">
                <label>image: </label>
                <input type="text" ng-model="ingredient.imgUrl">
                <img class="thumbnail" ng-src="{{ingredient.imgUrl}}">
                <h4>description: </h4>
                <textarea cols="80" rows="8" ng-model="ingredient.description"></textarea>
                <div>
                    <button type="submit">update</button>
                    <button class="delete-button" ng-click="$ctrl.deleteIngredient(ingredient)">delete</button>
                </div>
            </form>
            <hr>
        </li>
    </ul>

    <h3 class="admin-centered-header">Add new Ingredient</h3>
    <form ng-submit="$ctrl.createIngredient()">
        <label>Name: </label>
        <input type="text" ng-model="$ctrl.newIngredient.name">
        <label>Image url: </label>
        <input type="text" ng-model="$ctrl.newIngredient.imgUrl">
        <img class="thumbnail" src="{{$ctrl.newIngredient.imgUrl}}">
        <h4>description: </h4>
        <textarea cols="80" rows="8" ng-model="$ctrl.newIngredient.description"></textarea>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</div>

