<div class="footer-container clearfix">
     <!--<div class="footer-category">
        <h3>Shop</h3>
        <ul>
            <li>Buy Online</li>
            <li>Buy in Person</li>
        </ul>
    </div>


     <div class="footer-category">
        <h3>About</h3>
        <ul>
            <li>Our Juices</li>
            <li>Our Mission</li>
            <li>Our Customers</li>
            <li>Our team</li>
        </ul>
    </div>


     <div class="footer-category">
        <h3>Social Media</h3>
        <ul>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>Twitter</li>
        </ul>
    </div>


     <div class="footer-category">
        <h3>Contact</h3>
        <ul>
            <li>(XXX)XXX-XXXX</li>
            <li>xxxxx@xxx.com</li>
        </ul>
    </div>-->
    <div class="footer-contact">
        <ul>
            <li><a href="tel:1-510-590-7431">(503)888-8888</a></li>
            <li><a href="mailto:wnickers@willamette.edu">youremailgoeshere@email.com</a></li>
            <li><span>&#169;2017 Earth House Juice Co.<span></li>
        </ul>
    </div>
</div>