<div class="container">
    <img src="http://res.cloudinary.com/lejipni8p/image/upload/c_crop,g_north,h_1233,w_4096/v1482867033/earth%20house/top-cut_m3mrs8.jpg">

    <div class="about-text">
        <img class="behind-text" src="http://res.cloudinary.com/lejipni8p/image/upload/c_crop,g_south,h_1100,w_4096/v1482867033/earth%20house/top-cut_m3mrs8.jpg">
        <section ng-repeat="article in $ctrl.articles">
            <h2>{{article.title}}</h2>
            <div data-ng-bind-html="article.text">
                {{article.text}}
            </div>
            <img ng-if="article.imgUrl !== '#'" src="{{article.imgUrl}}">
            <hr class="section-divider">
        </section>
    </div>

</div>

