<div class="checkout">
    <div class="cart-edit" ng-if="!$ctrl.confirmCart">
        <h2>Ordering Online</h2>
        <p ng-bind-html="$ctrl.content.text"></p>
        <h2>Shopping Cart</h2>
        
        <div ng-if="$ctrl.cartEmpty">
            <p class="empty-cart">There is nothing in your cart</p>
            <a ui-sref="shop">Keep shopping!</a>
        </div>
        
        <div class="cart-table" ng-if="!$ctrl.cartEmpty">
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th colspan="2">Quantity</th>
                        <th></th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in $ctrl.cart.items">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            ${{item.price}}.00
                        </td>
                        <td>
                            <select ng-model="item.quantity">
                                <option ng-value="item.quantity">
                                    {{item.quantity}}
                                </option>
                                <option ng-value="number" ng-repeat="number in $ctrl.selectArray">
                                    {{number}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <button ng-click="$ctrl.updateCart(item, item.quantity)">Update</button>
                        </td>
                        <td>
                            <span class="remove-item" ng-click="$ctrl.removeItem(item)">x remove</span>
                        </td>
                        <td class="total">${{item.subTotal}}.00</td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span class="bold">Total:</span></td>
                        <td class="total"> ${{$ctrl.total}}.00</td>
                    </tr>
                </tfoot>
            </table>
            <h3 ng-if="$ctrl.total < $ctrl.minPurchase">Online purchases must be over ${{$ctrl.minPurchase}}.00</h3>
            <div class="form-bottom">
                <a ui-sref="shop">Keep shopping!</a>
                <button class="confirm-cart" ng-if="$ctrl.total > $ctrl.minPurchase" ng-click="$ctrl.confirmCart = true">Confirm Cart</button>
            </div>

        </div>
    </div>


    <div class="cart" ng-if="$ctrl.confirmCart">
        <h2>Your Order <a ng-click="$ctrl.confirmCart = false">edit</a></h2>
        <table>
            <thead>
                <th>Product</th>
                <th></th>
                <th>Quantity</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.cart.items">
                    <td>{{item.name}}</td>
                    <td>x</td>
                    <td class="quant">{{item.quantity}}</td>
                    <td class="total">${{item.price * item.quantity}}.00</td>
                </tr>
            </tbody>
            <tfoot>
                <td></td>
                <td></td>
                <td></td>
                <td class="total">
                    <span class="bold">Total:</span>${{$ctrl.total}}.00
                </td>
            </tfoot>
        </table>
        
    </div>

    <div class="checkoutInfo" ng-if="$ctrl.confirmCart && !$ctrl.showPayment">
        <h2>Select your delivery method</h2>
        
        <div ng-class="$ctrl.styles.container">
            <div ng-class="$ctrl.pickupStyle" ng-click="$ctrl.selectMethod('pickup')">
                <h2>Pickup</h2>
                <p>{{$ctrl.content.pickupText}}</p>
            </div>
        </div>

        <div ng-class="$ctrl.styles.container">
            <div ng-class="$ctrl.deliveryStyle" ng-click="$ctrl.selectMethod('delivery')">
                <h2>Delivery</h2>
                <p>{{$ctrl.content.deliveryText}}</p>
            </div>
            <div ng-if="!$ctrl.content.delivery" class="coming-soon">
                <h2>Coming Soon!</h2>
            </div>
        </div>
    </div>

    <div class="checkoutInfo" ng-if="$ctrl.showAddressForm && $ctrl.confirmCart">
        <h2>Delivery Info</h2>

        <form name="address-form" ng-submit="$ctrl.showPaymentDiv()">
            <h4>Name for order*</h4>
            <input placeholder="first name" ng-model="$ctrl.address.firstName" required>
            <input placeholder="last name" ng-model="$ctrl.address.lastName" required>
            <h4>Email*</h4>
            <input type="email" placeholder="enter a valid email address" ng-model="$ctrl.address.email" required>
            <input type="email" placeholder="confirm email address" ng-model="$ctrl.address.emailCheck" required> 
            <p class="warning" ng-if="$ctrl.emailWarning">Make sure your email addresses are the same!!!!</p>
            <h4>Adress for delivery*</h4>
            <input placeholder="street line 1" ng-model="$ctrl.address.line1" required>
            <input placeholder="street line 2" ng-model="$ctrl.address.line2">
            <select name="city" ng-model="$ctrl.address.city" placeholder="city" required>
                <option value="" disable selected>city</option>
                <option ng-repeat="city in $ctrl.cityArray" ng-value="city" ng-required="required">{{city}}</option>
            </select>
            <select name="state" ng-model="$ctrl.address.state" required>
                <option value="" disable selected>state</option>
                <option value="Oregon">Oregon</option>
                <option value="Washington">Washington</option>
            </select>
            <input name="zip" placeholder="zip code" ng-model="$ctrl.address.zip" required>
            <button type="submit">Checkout</button>
            <div ng-show="$ctrl.invalidAddress">
                Make sure you have filled out all of the required address fields!
            </div>
        </form>
    </div>

    <div class="checkoutInfo" ng-if="$ctrl.showPickupForm && $ctrl.confirmCart">
        <h2>Pickup Info</h2>
        <form ng-submit="$ctrl.showPaymentDiv()">
            <select class="location-select" ng-model="$ctrl.pickup" ng-change="$ctrl.confirmPickup()" ng-options="pickup as pickup.name for pickup in $ctrl.pickups track by pickup._id">
                <option value="">select your location</option>
            </select>
            <p class="pickup-message" ng-if="$ctrl.pickup">Pick up at {{$ctrl.pickup.name}} on {{$ctrl.pickupDate.toDateString()}}, between {{$ctrl.pickup.startPretty}} and {{$ctrl.pickup.endPretty}}.</p>
            <h4>Name for order*</h4>
                <input placeholder="first name" ng-model="$ctrl.address.firstName" required>
                <input placeholder="last name" ng-model="$ctrl.address.lastName" required>
            <h4>Email*</h4>
            <input type="email" placeholder="enter a valid email address" ng-model="$ctrl.address.email" required>
            <input type="email" placeholder="confirm email address" ng-model="$ctrl.address.emailCheck" required> 
            <p class="warning" ng-if="$ctrl.emailWarning">Make sure your email addresses are the same!!!!</p>
            <button ng-if="$ctrl.pickup" type="submit">Confirm</button>
        </form>
    </div>

    <div class="payment" ng-show="$ctrl.showPayment && !$ctrl.showAddressForm && !$ctrl.showPickupForm">
        <div class="address-table" ng-if="$ctrl.orderType === 'delivery'">
            <h2>Delivery Info <a ng-click="$ctrl.showAddressForm = true; $ctrl.showPayment = false">edit</a></h2>
            <p><span class="bold">name: </span>{{$ctrl.address.firstName}} {{$ctrl.address.lastName}}<p>
            <p><span class="bold">email for order: </span>{{$ctrl.address.email}}</p>
            <h4>Address: </h4>
            <p>{{$ctrl.address.line1}}</p>
            <p>{{$ctrl.address.line2}}</p>
            <p>{{$ctrl.address.city}}, {{$ctrl.address.state}} {{$ctrl.address.zip}}</p>
        </div>
        <div class="address-table" ng-if="$ctrl.orderType === 'pickup'">
            <h2>Pickup Info <a ng-click="$ctrl.showPickupForm = true; $ctrl.showPayment = false">edit</a></h2>
            <p ng-if="$ctrl.pickup">Pick up at {{$ctrl.pickup.name}} on {{$ctrl.pickupDate.toDateString()}}, between {{$ctrl.pickup.startPretty}} and {{$ctrl.pickup.endPretty}}.</p>
        </div>


        <h3>Payment Information</h3>
        <form stripe-form="stripeCallback" name="checkoutForm">
            <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" name="card">
            <input ng-model="expiry" placeholder="Expiration" payments-formate="expiry" payments-validate="expiry" name="expiry">
            <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc">
            <button type="submit">Place Order!</button>
        </form>

        <div ng-show="invalidPayment">
            There was a problem processing your card. Make sure you entered all of your payment information correctly.
        </div>
    </div>
</div>



