@import 'colors';
@import 'fonts';

:local(.method) {
    border: 3px solid $black;
    background-color: $lightgrey;
    width: 35%;
    float: left;
    margin: 20px 5% 70px 5%;
    border-radius: 2%;
    padding: 20px;
    h2 {
        text-align: center;
    }
    p {
        text-indent: 20px;
    }
    transition: all .35s ease;
}

:local(.clickable):hover {
    color: white;
    background-color: black;
    cursor: pointer;
}
:local(.active) {
    color: white;
    background-color: black;
}
:local(.inactive) {
    opacity: .4;
}
.checkout {
    width: 90%;
    min-height: 70vh;
    margin: 0 auto;
    margin-bottom: 10%;
    font-size: .87em;

    h2 {
        font-family: $decorative-font;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 2.5em;
        a {
            font-size: .4em;
            font-family: sans-serif;
            font-weight: 500;
            margin-left: 2%;
        }
    }

    h4 {
        margin: 3% 0;
    }

    p {
        margin-bottom: 2%;
        margin-top: 1%;
    }
    a {
        color: $link-blue;
        transition: all .35s ease;
        text-decoration: underline;
    }

    table {
        width: 100%;
        margin-bottom: 3%;
    }
    .cart-table {
        tr {
            height: 50px;
        }
    }

    .quant {
        text-align: center;
    }

    .total {
        text-align: right;
    }

    .bold {
        font-weight: bold;
        font-size: 1em;
        color: black;
        display: inline;
        margin: 0;
    }

    span {
        display: block;
        color: red;
        font-size: .75em;
        margin-left: 2%;
    }

    button {
        background: none;
        font-size: .75em;
        line-height: .5em;
    }

    .confirm-cart {
        float: right;
    }

    input, textarea, select, button {
        -webkit-appearance: none;
        border: 1px solid #555;
        padding: 0.5em;
        font-size: .75em;
        line-height: .8em;
        background: #fff;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
        -webkit-box-shadow: 1px 1px 1px #fff;
        -webkit-border-radius: 0.5em;
    }
    input {
        line-height: .75em;
        font-size: .75em;
        margin: 2%;
    }
    .location-select {
        margin-bottom: 20px;
    }

    .pickup-message {
        color: black;
    }
}




.remove-item {
    color: red;
    text-decoration: underline;
}

.ng-invalid, .warning {
    color: red;
}


@media all and (min-width: 500px) {
    .checkout {
        font-size: 1em;
    }
}

@media all and (min-width: 700px) {
    .checkout {
        font-size: 1.25em;
        margin-top: 3%;
        width: 80%;
        table {
            width: 90%;
            margin: 0 auto;
        }

        h4 {
            margin: 0;
        }
    }
}