<div class="admin-container clearfix">
    <h1 class="admin-sub-header">Content</h1>

    <ul class="admin-sub-nav">
        <li>
            <a ng-class="{selected: $ctrl.contentToManage == 'slider'}" ng-click="$ctrl.setCms('slider')">Image Slider</a>
        </li>
        <li>
            <a ng-class="{selected: $ctrl.contentToManage == 'articles'}" ng-click="$ctrl.setCms('articles')">Articles</a>
        </li>
        <li>
            <a ng-class="{selected: $ctrl.contentToManage == 'shop'}" ng-click="$ctrl.setCms('shop')">Shop</a>
        </li>
        <li>
            <a ng-class="{selected: $ctrl.contentToManage == 'about'}" ng-click="$ctrl.setCms('about')">About</a>
        </li>
        <li>
            <a ng-class="{selected: $ctrl.contentToManage == 'pickups'}" ng-click="$ctrl.setCms('pickups')">Pickups</a>
        </li>
        <li>
            <a ng-class="{selected: $ctrl.contentToManage == 'contact'}" ng-click="$ctrl.setCms('contact')">Contact</a>
        </li>
        <li>
            <a ng-class="{selected: $ctrl.contentToManage == 'checkout'}" ng-click="$ctrl.setCms('checkout')">Checkout</a>
        </li>
    </ul>
</div>

<div class="admin-container">
    <image-slider-cms ng-if="$ctrl.contentToManage === 'slider'" token="$ctrl.token"></image-slider-cms>
    <articles-cms ng-if="$ctrl.contentToManage === 'articles'" token="$ctrl.token"></articles-cms>
    <shop-cms ng-if="$ctrl.contentToManage === 'shop'" token="$ctrl.token"></shop-cms>
    <about-cms ng-if="$ctrl.contentToManage === 'about'"  aboutArticles="$ctrl.aboutArticles" token="$ctrl.token"></about-cms>
    <pickups-cms ng-if="$ctrl.contentToManage === 'pickups'" token="$ctrl.token"></pickups-cms>
    <contact-cms ng-if="$ctrl.contentToManage === 'contact'" token="$ctrl.token"></contact-cms>
    <checkout-cms ng-if="$ctrl.contentToManage === 'checkout'" token="$ctrl.token"></checkout-cms>
</div>
