:local(.table) {
    td {
        border: 1px solid black;
        text-align: center;
        padding: 1px;
        input {
            margin: 0;
        }
        select {
            margin: 0;
        }
    }
}