<div class="slider">
    <div ng-repeat="slide in $ctrl.slidesVisible">
        <img ng-hide="!$ctrl.isCurrIndex($index)"
            ng-src="{{slide.imgUrl}}"
             class="slide-image slide-animation ">
         <div ng-if="$ctrl.isCurrIndex($index)"
            class="slide-text fade">
            <p><a ui-sref="shop">{{$ctrl.currText}}</a></p>
         </div>
    </div>
   
    <nav class="slider-nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in $ctrl.slidesVisible">
                    <a href="#" 
                        ng-class="{'active': $ctrl.isCurrIndex($index)}"
                        ng-click="$ctrl.setCurrIndex($index)"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>


