<div class="container" ng-class="$ctrl.styles.contact">
    <h2>Contact</h2>
    <p class="contact-info">For any inquiries regarding deliveries, ordering online, or our farmers market schedule, feel free to send us an email or call. We look forward to hearing from you!</p>
    <ul>
        <li>
            <p>email: <a href="mailto:youremail@email.com">youremail@email.com</a><p>
        </li>
        <li>
           <p>phone:<a href="tel:1-503-888-8888"> (503)888-8888</a></p>
        </li>
        <li>
            <p>social media:</p> 
        </li>
        <li>
            <p><span class="icon-instagram"></span> <span class="icon-facebook2"></span></p>
        </li>
    </ul>
</div>