<div ng-class="$ctrl.styles.contact">
    <h2>Contact</h2>
    <p class="contact-info">{{$ctrl.contactInfo.text}}</p>
    <ul>
        <li>
            <p>email: <a href="{{$ctrl.contactInfo.email}}">{{$ctrl.contactInfo.email}}</a><p>
        </li>
        <li>
        <p>phone: <a href="{{$ctrl.contactInfo.phone}}">{{$ctrl.contactInfo.phone}}</a></p>
        </li>
        <li>
            <p>social media:</p> 
        </li>
        <li>
            <p>
                <a ng-if="$ctrl.contactInfo.instagram !== '#'" href="{{$ctrl.contactInfo.instagram}}" target="_blank"><span class="icon-instagram"></span></a> 
                <a ng-if="$ctrl.contactInfo.facebook !== '#'"href="{{$ctrl.contactInfo.facebook}}" target="_blank"><span class="icon-facebook2"></span></a>
                <a ng-if="$ctrl.contactInfo.twitter !== '#'" href="{{$ctrl.contactInfo.twitter}}" target="_blank"><span class="icon-twitter"></span></a>
            </p>
        </li>
    </ul>
</div>
