nav.site-navigation {
    margin-left: 5%;
    margin-top: 0;  
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            text-align: center;
            width: 20%;
            display: inline-block;
            color: white;
            font-weight: bold;
        }
        .mid-dot {
            width: auto;
            margin: 0;
        }
    }

    .icon-menu:before {
        content: "\e9bd";
        font-size: 1.9em;
        color: white;
        position: relative;
        display: inline-block;
    }
}


@media all and (max-width: 500px) {
    nav.site-navigation {
        float: right;
        ul {
            margin: 12px 5px;
            .link {
                display: none;
            }
            .mid-dot {
                display: none;
            }
        }
    }
}