<nav class="site-navigation">
    <!--<a class="icon-menu" ng-click="$ctrl.toggleNav()"></a>-->
    <ul>
        <li ui-sref="home" ng-class="$ctrl.navVisibility" class="link">Home</li>
        <li class="mid-dot">&middot;</li>
        <li ui-sref="shop" ng-class="$ctrl.navVisibility" class="link"link>Shop</li>
        <li class="mid-dot">&middot;</li>
        <li ui-sref='about' ng-class="$ctrl.navVisibility" class="link">About</li>
        <li class="mid-dot">&middot;</li>
        <li ui-sref="contact" ng-class="$ctrl.navVisibility" class="link">Contact</li>
    </ul>
</nav>