<div class="clearfix">
    <h2 class="item-header">Our Juices</h2>
    <!--<p class="item-text"> Online store coming soon! In the meantime feel free to email us and place an order.</p>-->
</div>
<section class="items">

        <ul>
            <li class="item" ng-repeat="juice in $ctrl.juices" ng-click="$ctrl.gotoItems">
                <img src="{{juice.imgUrl}}">
                <div class="item-info">
                    <h3 ui-sref="shop.item({
                    id: juice._id})">{{juice.name}}</h3>
                    <p>${{juice.price}}.00</p>
                </div>
            </li>
        </ul>
</section>